 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey! I am Latif Siddiq Sunny,a computer science major student from Bangladesh University of Engineering and Technology,Dhaka.</p>
                </div>
                <div class="col-lg-4">
                    <p>In this site,you will find my personal blog,code library,project update.Hope you enjoy and share your ideas!</p>
                </div>

            </div>
        </div>
    </section>